# Learning how to use https://editorconfig.org/

# Tell readers of this file not search look at any further parent directories.
root = true

[*]
indent_style = space
indent_size  = 2

[*.md]
max_line_length = 80
