body {
	margin:0;
}

h1, h2, h3, h4, h5, h6, footer p {
	font-family: Helvetica, Arial, sans-serif;
}

p {
	font-family: Tahoma,Georgia,Times,serif;
}

time {
	font-style: italic;
}

body>header {
	background: #333;
	font-size: 1em;
	padding-top: 1.5em;
	padding-bottom: 1.5em;
	padding-left: 55px;
	padding-right: 18px;
	display: block;
	margin: 0;
	border: 0;
}

body>header h1 {
	display: inline-block;
	margin: 0;
	font-size: 2.2em;
	font-weight: normal;
	line-height: 1.2em;
}

body>header h1 a, body>header h1 a:visited, body>header h1 a:hover {
	color: #f2f2f2;
	text-decoration: none;
}

main article {
	padding: 1em 55px 1em 55px;
	border-bottom: solid 1px #ccc;
	background: none;
}

main article h1 {
	font-size: 2.2em;
	margin: 0;
	line-height: 1.2;
	font-weight: bold;
}

a {
	color: #261bee;
}

a:focus {
	color: #261bee;
}

main article a {
	text-decoration: none;
	color: inherit;
	cursor: pointer;
	transition: color .3s;
}

a:hover {
	color: #261bee;
	text-decoration: underline;
}

time {
	color: #999;
	text-transform: uppercase;
	text-decoration: none;
}

body>footer {
	color: #888;
	padding-left: 55px;
	font-size: 0.8em;
	margin-bottom: 3em;
}
