<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en-us" }}">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<link rel="shortcut icon" type="image/x-icon" href="{{ "favicon.ico" | relURL }}">
	<title>{{ .Title }}</title>
	{{ with .Site.Params.description }}<meta name="description" content="{{ . }}">{{ end }}
	{{ with .Site.Params.author }}<meta name="author" content="{{ . }}">{{ end }}
	<link rel="stylesheet" href="{{ "css/style.css" | relURL }}">
	{{ with .OutputFormats.Get "RSS" -}}
		{{ printf `<link rel="%s" type="%s" href="%s" title="%s">` .Rel .MediaType.Type .RelPermalink $.Site.Title | safeHTML }}
	{{- end }}
</head>
<body>
	<header>
		<h1>
			<a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
		</h1>
	</header>

	{{ block "main" . }}{{ end }}

	<footer>
		<p>Copyright &copy; {{ now.Year }} Scott Muc</p>
	</footer>
</body>
</html>
